/* SCSS HEX */
body {
  color: #333;
  font-family: system-ui;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.grid {
  display: grid;
  gap: 1rem 16px;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  margin: 0 auto;
  max-width: 1200px;
}
@media (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.block {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-radius: 8px;
  min-height: 12rem;
  padding: 1rem 16px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}
.block:hover, .block:focus-within {
  box-shadow: 3px 3px 16px 4px rgba(0, 0, 0, 0.09);
}
.block:has(> a), .block:has(> button) {
  padding-top: 2.2rem;
}
.block.lobster-pink {
  background-color: #db5461;
  border-top-color: rgb(242, 209, 212);
  border-left-color: rgb(242, 209, 212);
  color: white;
}
.block.ocean-twilight {
  background-color: #4c4c9d;
  border-top-color: rgb(178, 178, 249);
  border-left-color: rgb(178, 178, 249);
  color: white;
}
.block.sunflower-gold {
  background-color: #fabc3c;
  border-top-color: rgb(255, 245, 225);
  border-left-color: rgb(255, 245, 225);
}
.block.periwinkle {
  background-color: #c3c9e9;
  border-top-color: rgb(244, 245, 255);
  border-left-color: rgb(244, 245, 255);
}
.block.muted-olive {
  background-color: #95bf8f;
  border-top-color: rgb(229, 241, 227);
  border-left-color: rgb(229, 241, 227);
}
.block.dark-gray {
  background-color: #333;
  border-top-color: #ccc;
  border-left-color: #ccc;
  color: white;
}
.block.block--expanded {
  background-color: white;
  min-height: 24rem;
}
@media (min-width: 480px) {
  .block.block--expanded {
    border: 2px solid;
    grid-column: span 2;
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .block.block--expanded {
    grid-row: span 2;
    min-height: auto;
  }
}
.block.block--expanded.lobster-pink {
  border-color: #db5461;
}
.block.block--expanded.ocean-twilight {
  border-color: #4c4c9d;
}
.block.block--expanded.sunflower-gold {
  border-color: #fabc3c;
}
.block.block--expanded.periwinkle {
  border-color: #c3c9e9;
}
.block.block--expanded.muted-olive {
  border-color: #95bf8f;
}
.block.block--expanded > button.block__expand-trigger::before {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='m136-80-56-56 264-264H160v-80h320v320h-80v-184L136-80Zm344-400v-320h80v184l264-264 56 56-264 264h184v80H480Z'/%3E%3C/svg%3E") no-repeat center;
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%231f1f1f'%3E%3Cpath d='m136-80-56-56 264-264H160v-80h320v320h-80v-184L136-80Zm344-400v-320h80v184l264-264 56 56-264 264h184v80H480Z'/%3E%3C/svg%3E") no-repeat center;
}
.block.block--expanded > img.hero-img {
  border-radius: 0;
  height: auto;
  max-width: calc(100% - 36px);
  -o-object-fit: unset;
     object-fit: unset;
  position: relative;
  top: auto;
  left: auto;
}
.block.block--expanded > img.logo {
  background-color: transparent;
  padding: 0;
  position: relative;
  margin-top: 1rem;
  top: auto;
}
.block.block--expanded .block__expand-content {
  display: block;
}
.block.overlay:not(.block--expanded)::after {
  background-color: #333;
  border-radius: 8px;
  content: "";
  display: block;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block.overlay:not(.block--expanded) > button::before {
  background-color: white;
}
.block.lobster-pink > a:hover::before, .block.lobster-pink > a:focus-visible::before, .block.ocean-twilight > a:hover::before, .block.ocean-twilight > a:focus-visible::before, .block.dark-gray > a:hover::before, .block.dark-gray > a:focus-visible::before {
  background-color: white;
}
.block.lobster-pink > a:focus-visible, .block.ocean-twilight > a:focus-visible, .block.dark-gray > a:focus-visible {
  outline-color: white;
  outline-offset: -7px;
  outline-style: solid;
  outline-width: 2px;
}
.block.sunflower-gold > a:hover::before, .block.sunflower-gold > a:focus-visible::before, .block.periwinkle > a:hover::before, .block.periwinkle > a:focus-visible::before, .block.muted-olive > a:hover::before, .block.muted-olive > a:focus-visible::before {
  background-color: #333;
}
.block.lobster-pink > a::before {
  background-color: #fabc3c;
}
.block.ocean-twilight > a::before {
  background-color: #c3c9e9;
}
.block.dark-gray > a::before {
  background-color: #ccc;
}
.block.sunflower-gold > a::before, .block.periwinkle > a::before, .block.muted-olive > a::before {
  background-color: #4c4c9d;
}
.block > a, .block > button {
  border-radius: 8px;
  display: block;
  position: absolute;
  z-index: 1;
}
.block > a:hover::before, .block > a:focus-visible::before, .block > button:hover::before, .block > button:focus-visible::before {
  background-color: #333;
}
.block > a::before, .block > button::before {
  background-color: #666;
  content: "";
  height: 22px;
  transition: background-color 0.2s ease-in-out;
  width: 22px;
}
.block > a {
  /* Use SVG masks as data URIs to avoid CORS issues */
}
.block > a[target=_blank] {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block > a[target=_blank]::before {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/%3E%3C/svg%3E") no-repeat center;
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
  position: absolute;
  top: 14px;
  right: 14px;
}
.block > a[target=_blank]:hover + svg, .block > a[target=_blank]:focus-visible + svg {
  fill: white;
}
.block > a[target=_blank]:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}
.block > a[target=_blank] + svg {
  fill: #ccc;
  position: absolute;
  transition: fill 0.2s ease-in-out;
  width: 120px;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}
.block > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.block > button.block__expand-trigger {
  padding: 14px;
  top: 0;
  right: 0;
}
.block > button.block__expand-trigger::before {
  display: block;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000'%3E%3Cpath d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'/%3E%3C/svg%3E") no-repeat center;
          mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000'%3E%3Cpath d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.block > img.hero-img {
  border-radius: 8px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.block > img.logo {
  background-color: white;
  border-radius: 4px;
  padding: 0.25rem 6px;
  position: absolute;
  max-width: 120px;
  z-index: 1;
  top: 1rem;
}
.block p {
  margin-top: 0.5rem;
}
.block ul {
  padding-inline-start: 30px;
}
.block .block__expand-content {
  display: none;
}

@media (min-width: 480px) {
  .block--2col {
    grid-column: span 2;
  }
}

.shadow-1 {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.shadow-2 {
  box-shadow: 3px 3px 16px 4px rgba(0, 0, 0, 0.09);
}

.shadow-3 {
  box-shadow: 10px 10px 21px 0 rgba(0, 0, 0, 0.09);
}

::backdrop {
  background-image: linear-gradient(0deg, #333, #111);
  opacity: 0.75;
}/*# sourceMappingURL=style.css.map */