// Global variables partial

// Colors
/* SCSS HEX */
$dark-gray: #333;
$gray: #666;
$light-gray: #ccc;

$lobster-pink: #db5461ff;
$ocean-twilight: #4c4c9dff;
$sunflower-gold: #fabc3cff;
$periwinkle: #c3c9e9ff;
$muted-olive: #95bf8fff;

$lobster-pink--light: rgb(242, 209, 212);
$ocean-twilight--light: rgb(178, 178, 249);
$sunflower-gold--light: rgb(255, 245, 225);
$periwinkle--light: rgb(244, 245, 255);
$muted-olive--light: rgb(229, 241, 227);

$radius: 8px;

// Media Queries
$bp-s: 480px;
$bp-m: 768px;
$bp-l: 1024px;

body {
  color: $dark-gray;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}
