// Shadow utility mixins
@mixin shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
}

@mixin shadow-2 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

@mixin shadow-3 {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.08);
}
