@use "global";

.grid {
  display: grid;
  gap: 0.5rem 8px;
  grid-template-columns: 1fr;

  @media (min-width: global.$bp-s) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: global.$bp-m) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: global.$bp-l) {
    grid-template-columns: repeat(4, 1fr);
  }

  .block {
    aspect-ratio: 1 / 1;
    border-radius: global.$radius;
  }
}
