@use "global";
@use "mixins";

.grid {
  display: grid;
  gap: 0.75rem 12px;
  grid-template-columns: 1fr;

  @media (min-width: global.$bp-s) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: global.$bp-m) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: global.$bp-l) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.block {
  @include mixins.shadow-1;

  border-radius: global.$radius;
  min-height: 12rem;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    @include mixins.shadow-2;
  }

  & > a {
    border-radius: global.$radius; // Keeps focus state consistent with block shape
    display: block;
    height: 100%;
    position: relative;

    // Block icon
    &::before {
      // background: url("../assets/icons/open-in-new.svg") no-repeat center;
      // background-size: contain;
      content: "";
      height: 28px;
      opacity: 0;
      position: absolute;
      width: 28px;

      top: 12px;
      right: 12px;
    }

    &:hover,
    &:focus-visible {
      &::before {
        opacity: 1;
      }
    }

    &[target="_blank"]::before {
      background: url("../assets/icons/open-in-new.svg") no-repeat center;
      background-size: contain;
    }

    &.block__modal-trigger::before {
      background: url("../assets/icons/open-in-full.svg") no-repeat center;
      background-size: contain;
    }
  }
}

.block--2col {
  grid-column: span 2;
}

.shadow-1 {
  @include mixins.shadow-1;
}
.shadow-2 {
  @include mixins.shadow-2;
}
.shadow-3 {
  @include mixins.shadow-3;
}

::backdrop {
  background-image: linear-gradient(0deg, #333, #111);
  opacity: 0.75;
}
