@use "global";
@use "mixins";

.grid {
  display: grid;
  gap: 0.75rem 12px;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;

  @media (min-width: global.$bp-s) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: global.$bp-m) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: global.$bp-l) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.block {
  @include mixins.shadow-1;

  border-radius: global.$radius;
  min-height: 12rem;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    @include mixins.shadow-2;
  }

  & > a {
    border-radius: global.$radius; // Keeps focus state consistent with block shape
    display: block;
    height: 100%;
    position: relative;

    // Block icon
    &::before {
      content: "";
      height: 28px;
      opacity: 0;
      position: absolute;
      width: 28px;

      top: 12px;
      right: 12px;
    }

    &:hover,
    &:focus-visible {
      &::before {
        opacity: 1;
      }
    }

    /* Use SVG masks as data URIs to avoid CORS issues */
    &[target="_blank"]::before {
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000'%3E%3Cpath d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/%3E%3C/svg%3E")
        no-repeat center;
      mask-size: contain;
      background-color: currentColor;
    }

    &.block__modal-trigger::before {
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000'%3E%3Cpath d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'/%3E%3C/svg%3E")
        no-repeat center;
      mask-size: contain;
      background-color: currentColor;
    }
  }
}

.block--2col {
  @media (min-width: global.$bp-s) {
    grid-column: span 2;
  }
}

.shadow-1 {
  @include mixins.shadow-1;
}
.shadow-2 {
  @include mixins.shadow-2;
}
.shadow-3 {
  @include mixins.shadow-3;
}

::backdrop {
  background-image: linear-gradient(0deg, #333, #111);
  opacity: 0.75;
}
